In [1]:
import shapely
from shapely import geometry
from shapely.geometry import shape, Point, LineString, Polygon
import fiona
import geopandas as gpd
import numpy as np
import geopandas as gp
from pyproj import CRS

In [2]:
# Open the dataset from the file
shapefile = fiona.open('./data/shapefiles/CLC2012_PT_v2/CLC2012_PT_v2.shp')
# Make sure the dataset exists -- it would be None if we couldn't open it
if not shapefile:
    print('Error: could not open shapefile')

In [3]:
### Let's get the driver from this file
driver = shapefile.driver
print('Dataset driver is: {n}\n'.format(n=driver))

### How many features are contained in this Shapefile?
feature_count = len(shapefile)
print('The shapefile has {n} feature(s)\n'.format(n=feature_count))

### What is the shapefiles's projection?
# Get the spatial reference
spatial_ref = shapefile.crs
print('The shapefiles spatial ref is:\n', spatial_ref, '\n')

# Let's pull out a specific feature from the shapefile
feature = shapefile[0]

### What is the features's geometry? is it a point? a polyline? a polygon?
geometry = feature['geometry']['type']
print("The features's geometry is: {geom}\n".format(geom=geometry))

### How many properties are in the shapefile, and what are their names?
properties = feature["properties"].keys()

# How many fields
field_count = len(properties)
print('Layer has {n} fields'.format(n=field_count))

# What are their names?
print('Their names are: ')
for prop in properties:
    print('\t{name}'.format(name=prop))

Dataset driver is: ESRI Shapefile

The shapefile has 53776 feature(s)

The shapefiles spatial ref is:
 {'proj': 'tmerc', 'lat_0': 39.6682583333333, 'lon_0': -8.13310833333333, 'k': 1, 'x_0': 0, 'y_0': 0, 'ellps': 'GRS80', 'units': 'm', 'no_defs': True}

The features's geometry is: Polygon

Layer has 4 fields
Their names are:
	AREA_ha
	CLC2012
	Legenda
	ID

In [4]:
shapefile.meta

{'driver': 'ESRI Shapefile',
 'schema': {'properties': OrderedDict([('AREA_ha', 'float:19.11'),
               ('CLC2012', 'int:3'),
               ('Legenda', 'str:200'),
               ('ID', 'int:9')]),
  'geometry': 'Polygon'},
 'crs': {'proj': 'tmerc',
  'lat_0': 39.6682583333333,
  'lon_0': -8.13310833333333,
  'k': 1,
  'x_0': 0,
  'y_0': 0,
  'ellps': 'GRS80',
  'units': 'm',
  'no_defs': True},
 'crs_wkt': 'PROJCS["ETRS89_Portugal_TM06",GEOGCS["GCS_ETRS_1989",DATUM["D_ETRS_1989",SPHEROID["GRS_1980",6378137,298.257222101]],PRIMEM["Greenwich",0],UNIT["Degree",0.0174532925199433]],PROJECTION["Transverse_Mercator"],PARAMETER["latitude_of_origin",39.6682583333333],PARAMETER["central_meridian",-8.13310833333333],PARAMETER["scale_factor",1],PARAMETER["false_easting",0],PARAMETER["false_northing",0],UNIT["Meter",1],AXIS["Easting",EAST],AXIS["Northing",NORTH]]'}

In [5]:
feature = shapefile[0]
feature # The result is a Python dictionary

{'type': 'Feature',
 'id': '0',
 'properties': OrderedDict([('AREA_ha', 287.471753986),
              ('CLC2012', 111),
              ('Legenda', 'Tecido urbano contínuo'),
              ('ID', 1)]),
 'geometry': {'type': 'Polygon',
  'coordinates': [[(18685.92039999913, -293338.38560000074),
    (18770.192800001358, -293402.0581),
    (18972.738299999502, -293371.5312),
    (19233.14839999989, -293341.4999999995),
    (19125.525399999286, -293461.46869999956),
    (18989.177699999796, -293583.15619999846),
    (18842.085000000836, -293690.1147000012),
    (18871.1250999989, -293752.0690000012),
    (18905.98149999976, -293796.8845000001),
    (18930.879099998972, -293856.63819999935),
    (18960.756000000198, -293881.5355999987),
    (19000.591799999675, -293889.00489999977),
    (19045.407199999812, -293884.02540000016),
    (19097.6918, -293859.12789999973),
    (19164.914900001313, -293846.6792000001),
    (19212.219999999652, -293871.57670000044),
    (19237.117399999028, -293906.4330000003),
    (19224.66869999934, -293958.7175999983),
    (19184.83280000105, -294045.85859999934),
    (19197.19810000062, -294100.2661000006),
    (19251.568500000983, -294127.46869999944),
    (19354.75200000021, -294191.74999999924),
    (19380.199300001113, -294257.7811999997),
    (19368.466800000315, -294339.90630000073),
    (19317.621000001032, -294429.87489999994),
    (19239.39649999881, -294500.28119999997),
    (19161.171899999987, -294539.4062000001),
    (18867.828099998645, -294621.5312000001),
    (18836.304700001027, -294627.3436999996),
    (18527.5486999992, -294684.1250000006),
    (18433.726599999733, -294701.00000000023),
    (18333.847700000566, -294719.0000000002),
    (18186.347699999984, -294755.2500000006),
    (18140.003999998764, -294781.7499999994),
    (18081.816300000966, -294815.0311999983),
    (18015.927700000437, -294890.21880000166),
    (17932.99220000129, -294948.5313),
    (17791.443400000368, -294951.4998999995),
    (17727.503999999113, -294924.0938000013),
    (17698.83979999993, -294911.81249999907),
    (17636.814499999717, -294858.6561999995),
    (17606.23440000115, -294832.43759999954),
    (17600.054700000357, -294818.53130000044),
    (17553.316499999317, -294713.37490000005),
    (17530.39650000035, -294643.90619999863),
    (17568.509800001077, -294586.7500000001),
    (17613.61909999873, -294530.78119999875),
    (17638.76170000079, -294485.5313000016),
    (17638.76170000079, -294455.34380000125),
    (17613.617100000556, -294405.0624999992),
    (17580.931599999545, -294362.31260000094),
    (17497.18160000039, -294302.96869999997),
    (17461.785199999053, -294274.2186999984),
    (17433.41029999932, -294255.2967000012),
    (17393.179699999135, -294228.4686000003),
    (17347.441399999283, -294201.7811999999),
    (17246.658200001315, -294100.2811000004),
    (17221.111200000596, -294074.7188000012),
    (17198.40439999994, -294049.1875000007),
    (17172.857500000217, -294020.78119999834),
    (17138.79689999961, -293978.21869999944),
    (17133.119099999312, -293964.03119999904),
    (17119.11900000056, -293943.018100001),
    (17116.087899998704, -293938.46870000014),
    (17101.89650000076, -293910.0935999984),
    (17080.021499998897, -293861.15619999974),
    (17085.726600000024, -293819.34369999805),
    (17099.037100000278, -293785.0935999988),
    (17108.54490000094, -293768.0001000001),
    (17119.11900000056, -293753.89390000066),
    (17119.953100000595, -293752.78119999927),
    (17138.694899998518, -293735.90280000045),
    (17156.08399999875, -293729.96869999974),
    (17180.80470000129, -293720.43750000023),
    (17209.32819999993, -293718.5623999995),
    (17249.26169999881, -293718.5625000005),
    (17280.714800001122, -293711.4061999986),
    (17289.230500000238, -293685.8751000001),
    (17289.228499999823, -293663.15619999816),
    (17280.71289999952, -293620.5625000008),
    (17277.87509999948, -293580.84369999997),
    (17277.873000000283, -293541.0935999997),
    (17277.873000000283, -293521.2186999988),
    (17294.904299999675, -293501.3750000008),
    (17328.96479999929, -293487.1562999998),
    (17363.02550000095, -293464.46859999857),
    (17380.056600000535, -293444.5936999999),
    (17422.632799999235, -293393.4999999993),
    (17433.410400000343, -293378.10730000003),
    (17442.49990000049, -293365.12500000076),
    (17480.22069999954, -293318.81250000023),
    (17738.863299999648, -293285.9061999989),
    (17763.168000000645, -293284.18749999895),
    (17872.316300000588, -293276.3805999988),
    (17889.641100000095, -293216.1996999993),
    (17887.57020000089, -293096.0846999993),
    (17887.57020000089, -292985.11549999844),
    (17891.468799999246, -292983.53119999915),
    (17891.932500000985, -292957.75510000007),
    (17904.13779999857, -292895.20280000096),
    (17947.627700000885, -292839.28720000037),
    (17997.330399999628, -292812.36490000016),
    (18098.806799999496, -292804.08109999914),
    (18156.793400000286, -292804.08109999914),
    (18239.631299998844, -292804.08109999914),
    (18264.971400001145, -292804.9548999999),
    (18299.688700000057, -292806.1521000016),
    (18368.030000001134, -292831.00350000034),
    (18411.519899998995, -292843.4290999998),
    (18461.22259999992, -292862.0676999999),
    (18496.42869999897, -292891.06090000155),
    (18519.209099999716, -292938.69270000106),
    (18541.989599999273, -293025.672499999),
    (18562.69899999982, -293102.29759999894),
    (18616.543700001203, -293203.774000001),
    (18664.17550000071, -293294.89570000063),
    (18685.92039999913, -293338.38560000074)]]}}

In [6]:
feature.keys()

dict_keys(['type', 'id', 'properties', 'geometry'])

In [7]:
print('id: ', feature['id']) #gives the id
print('Land Cover Class: ', feature['properties']['Legenda']) # gives the value of the classname attribute

print('\ngeometry: ', feature['geometry']) # gives the geometry, GeoJSON format

id:  0
Land Cover Class:  Tecido urbano contínuo

geometry:  {'type': 'Polygon', 'coordinates': [[(18685.92039999913, -293338.38560000074), (18770.192800001358, -293402.0581), (18972.738299999502, -293371.5312), (19233.14839999989, -293341.4999999995), (19125.525399999286, -293461.46869999956), (18989.177699999796, -293583.15619999846), (18842.085000000836, -293690.1147000012), (18871.1250999989, -293752.0690000012), (18905.98149999976, -293796.8845000001), (18930.879099998972, -293856.63819999935), (18960.756000000198, -293881.5355999987), (19000.591799999675, -293889.00489999977), (19045.407199999812, -293884.02540000016), (19097.6918, -293859.12789999973), (19164.914900001313, -293846.6792000001), (19212.219999999652, -293871.57670000044), (19237.117399999028, -293906.4330000003), (19224.66869999934, -293958.7175999983), (19184.83280000105, -294045.85859999934), (19197.19810000062, -294100.2661000006), (19251.568500000983, -294127.46869999944), (19354.75200000021, -294191.74999999924), (19380.199300001113, -294257.7811999997), (19368.466800000315, -294339.90630000073), (19317.621000001032, -294429.87489999994), (19239.39649999881, -294500.28119999997), (19161.171899999987, -294539.4062000001), (18867.828099998645, -294621.5312000001), (18836.304700001027, -294627.3436999996), (18527.5486999992, -294684.1250000006), (18433.726599999733, -294701.00000000023), (18333.847700000566, -294719.0000000002), (18186.347699999984, -294755.2500000006), (18140.003999998764, -294781.7499999994), (18081.816300000966, -294815.0311999983), (18015.927700000437, -294890.21880000166), (17932.99220000129, -294948.5313), (17791.443400000368, -294951.4998999995), (17727.503999999113, -294924.0938000013), (17698.83979999993, -294911.81249999907), (17636.814499999717, -294858.6561999995), (17606.23440000115, -294832.43759999954), (17600.054700000357, -294818.53130000044), (17553.316499999317, -294713.37490000005), (17530.39650000035, -294643.90619999863), (17568.509800001077, -294586.7500000001), (17613.61909999873, -294530.78119999875), (17638.76170000079, -294485.5313000016), (17638.76170000079, -294455.34380000125), (17613.617100000556, -294405.0624999992), (17580.931599999545, -294362.31260000094), (17497.18160000039, -294302.96869999997), (17461.785199999053, -294274.2186999984), (17433.41029999932, -294255.2967000012), (17393.179699999135, -294228.4686000003), (17347.441399999283, -294201.7811999999), (17246.658200001315, -294100.2811000004), (17221.111200000596, -294074.7188000012), (17198.40439999994, -294049.1875000007), (17172.857500000217, -294020.78119999834), (17138.79689999961, -293978.21869999944), (17133.119099999312, -293964.03119999904), (17119.11900000056, -293943.018100001), (17116.087899998704, -293938.46870000014), (17101.89650000076, -293910.0935999984), (17080.021499998897, -293861.15619999974), (17085.726600000024, -293819.34369999805), (17099.037100000278, -293785.0935999988), (17108.54490000094, -293768.0001000001), (17119.11900000056, -293753.89390000066), (17119.953100000595, -293752.78119999927), (17138.694899998518, -293735.90280000045), (17156.08399999875, -293729.96869999974), (17180.80470000129, -293720.43750000023), (17209.32819999993, -293718.5623999995), (17249.26169999881, -293718.5625000005), (17280.714800001122, -293711.4061999986), (17289.230500000238, -293685.8751000001), (17289.228499999823, -293663.15619999816), (17280.71289999952, -293620.5625000008), (17277.87509999948, -293580.84369999997), (17277.873000000283, -293541.0935999997), (17277.873000000283, -293521.2186999988), (17294.904299999675, -293501.3750000008), (17328.96479999929, -293487.1562999998), (17363.02550000095, -293464.46859999857), (17380.056600000535, -293444.5936999999), (17422.632799999235, -293393.4999999993), (17433.410400000343, -293378.10730000003), (17442.49990000049, -293365.12500000076), (17480.22069999954, -293318.81250000023), (17738.863299999648, -293285.9061999989), (17763.168000000645, -293284.18749999895), (17872.316300000588, -293276.3805999988), (17889.641100000095, -293216.1996999993), (17887.57020000089, -293096.0846999993), (17887.57020000089, -292985.11549999844), (17891.468799999246, -292983.53119999915), (17891.932500000985, -292957.75510000007), (17904.13779999857, -292895.20280000096), (17947.627700000885, -292839.28720000037), (17997.330399999628, -292812.36490000016), (18098.806799999496, -292804.08109999914), (18156.793400000286, -292804.08109999914), (18239.631299998844, -292804.08109999914), (18264.971400001145, -292804.9548999999), (18299.688700000057, -292806.1521000016), (18368.030000001134, -292831.00350000034), (18411.519899998995, -292843.4290999998), (18461.22259999992, -292862.0676999999), (18496.42869999897, -292891.06090000155), (18519.209099999716, -292938.69270000106), (18541.989599999273, -293025.672499999), (18562.69899999982, -293102.29759999894), (18616.543700001203, -293203.774000001), (18664.17550000071, -293294.89570000063), (18685.92039999913, -293338.38560000074)]]}

In [8]:
shapely_shape = shape(feature['geometry'])
print(type(shapely_shape))

shapely_shape

<class 'shapely.geometry.polygon.Polygon'>

In [9]:
shapefile = gpd.read_file('./data/shapefiles/CLC2012_PT_v2/CLC2012_PT_v2.shp')
shapefile.head()

,AREA_ha,CLC2012,Legenda,ID,geometry
0,287.471754,111,Tecido urbano contínuo,1,"POLYGON ((18685.920 -293338.386, 18770.193 -29..."
1,275.900895,111,Tecido urbano contínuo,2,"POLYGON ((26764.900 -291471.875, 26786.334 -29..."
2,101.100914,111,Tecido urbano contínuo,3,"POLYGON ((3106.160 -287769.063, 3100.722 -2878..."
3,28.932375,111,Tecido urbano contínuo,4,"POLYGON ((-48135.685 -284368.597, -48105.974 -..."
4,109.973855,111,Tecido urbano contínuo,5,"POLYGON ((-21147.143 -284032.092, -21014.035 -..."

In [10]:
shapefile_filtered = shapefile.filter(['Legenda', 'geometry'])
shapefile_filtered.head()

                  Legenda                                           geometry
0  Tecido urbano contínuo  POLYGON ((18685.920 -293338.386, 18770.193 -29...
1  Tecido urbano contínuo  POLYGON ((26764.900 -291471.875, 26786.334 -29...
2  Tecido urbano contínuo  POLYGON ((3106.160 -287769.063, 3100.722 -2878...
3  Tecido urbano contínuo  POLYGON ((-48135.685 -284368.597, -48105.974 -...
4  Tecido urbano contínuo  POLYGON ((-21147.143 -284032.092, -21014.035 -...

In [11]:
initial_crs = shapefile.crs
initial_crs

{'proj': 'tmerc',
 'lat_0': 39.6682583333333,
 'lon_0': -8.13310833333333,
 'k': 1,
 'x_0': 0,
 'y_0': 0,
 'ellps': 'GRS80',
 'units': 'm',
 'no_defs': True}

In [12]:
from pyproj import CRS
CRS(shapefile.crs)

<Projected CRS: +proj=tmerc +lat_0=39.6682583333333 +lon_0=-8.1331 ...>
Name: unknown
Axis Info [cartesian]:
- E[east]: Easting (metre)
- N[north]: Northing (metre)
Area of Use:
- undefined
Coordinate Operation:
- name: unknown
- method: Transverse Mercator
Datum: Unknown based on GRS80 ellipsoid
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [13]:
shapefile.bounds

              minx         miny        maxx         maxy
0       17080.0215 -294951.4999  19380.1993 -292804.0811
1       25014.5391 -293571.3437  28100.6895 -291199.6236
2        2126.1274 -289232.5311   3577.8242 -287665.0312
3      -48281.8595 -285265.3470 -47693.6214 -284303.3125
4      -21405.6196 -285051.4061 -19507.7148 -284032.0916
...            ...          ...         ...          ...
53771  -48575.9047  167635.7850 -46146.6718  169701.0000
53772  -55076.6484  204694.1563 -50910.5976  208331.8906
53773  -59396.1259  223007.5131 -52912.2656  225591.9688
53774  -61277.9374  243545.4956 -51113.0195  252421.6141
53775 -144205.7287 -326024.7885  82484.4874  245944.9374

[53776 rows x 4 columns]

In [14]:
shapefile = shapefile.to_crs({'init': 'epsg:4326'})

C:\ProgramData\Anaconda3\envs\geo_py37\lib\site-packages\pyproj\crs.py:77: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method.
  return _prepare_from_string(" ".join(pjargs))

In [15]:
shapefile.geometry = shapefile.geometry.map(lambda polygon: shapely.ops.transform(lambda x, y: (y, x), polygon))

In [16]:
shapefile.bounds

            minx      miny       maxx      maxy
0      37.010940 -7.941171  37.030284 -7.915333
1      37.023193 -7.851944  37.044540 -7.817265
2      37.062634 -8.109201  37.076760 -8.092880
3      37.097166 -8.676275  37.105817 -8.669628
4      37.100102 -8.373929  37.109262 -8.352574
...          ...       ...        ...       ...
53771  41.176503 -8.712066  41.195187 -8.683211
53772  41.509872 -8.793162  41.542466 -8.742993
53773  41.674274 -8.846448  41.697963 -8.768713
53774  41.859026 -8.871157  41.939640 -8.749444
53775  36.730845 -9.792798  41.879798 -7.206483

[53776 rows x 4 columns]

In [17]:
unique= np.unique(shapefile['Legenda'])
print('List of Land Cover Classes:')
unique

List of Land Cover Classes:

array(['Aeroportos e aeródromos',
       'Agricultura com espaços naturais e semi-naturais', 'Arrozais',
       'Culturas temporárias de regadio',
       'Culturas temporárias de sequeiro',
       'Culturas temporárias e/ou pastagens associadas a culturas permanentes',
       'Cursos de água', 'Desembocaduras fluviais',
       'Equipamentos desportivos, culturais e de lazer e zonas históricas',
       'Espaços verdes urbanos',
       'Florestas abertas, cortes e novas plantações',
       'Florestas de folhosas', 'Florestas de resinosas',
       'Florestas mistas', 'Indústria, comércio e equipamentos gerais',
       'Lagoas costeiras', 'Matos', 'Oceano', 'Olivais',
       'Pastagens permanentes', 'Paúis', 'Planos de água', 'Pomares',
       'Praias, dunas e areais',
       'Redes viárias e ferroviárias e espaços associados', 'Rocha nua',
       'Salinas e aquicultura litoral', 'Sapais',
       'Sistemas agro-florestais',
       'Sistemas culturais e parcelares complexos',
       'Tecido urbano contínuo', 'Tecido urbano descontínuo',
       'Vegetação esclerófila', 'Vegetação esparsa',
       'Vegetação herbácea natural', 'Vinhas', 'Zonas entre-marés',
       'Áreas ardidas', 'Áreas de deposição de resíduos',
       'Áreas de extracção de inertes', 'Áreas em construção',
       'Áreas portuárias'], dtype=object)

In [1]:
polygon = Polygon([ # from manifest.safe
    (39.073198659648654, -8.8871765),
    (39.0526886902376, -8.894318),
    (38.906045290370265 ,-8.945374),
    (38.760328595167564 ,-8.996094),
    (38.755193805393134 ,-10.151337),
    (39.74439520181332 ,-10.167633),
    (39.750212021802014 ,-8.886078),
    (39.073198659648654 ,-8.8871765)
])
polygon

NameError: name 'Polygon' is not defined

In [31]:
imageBounds = gp.GeoDataFrame(crs={'init': 'epsg:4326'})

In [32]:
imageBounds.geometry = [polygon]

In [33]:
.bounds

        minx       miny       maxx      maxy
0  38.755194 -10.167633  39.750212 -8.886078

In [37]:
teste.geometry = imageBounds.geometry.map(lambda polygon: shapely.ops.transform(lambda x, y: (y, x), polygon))
teste = teste.to_crs(fiona.crs.from_epsg(32629))
teste.bounds

C:\ProgramData\Anaconda3\envs\geo_py37\lib\site-packages\pyproj\crs.py:77: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method.
  return _prepare_from_string(" ".join(pjargs))

            minx          miny           maxx          maxy
0  399959.291212  4.290181e+06  509759.689005  4.400040e+06

In [22]:
shapefile.bounds

            minx      miny       maxx      maxy
0      37.010940 -7.941171  37.030284 -7.915333
1      37.023193 -7.851944  37.044540 -7.817265
2      37.062634 -8.109201  37.076760 -8.092880
3      37.097166 -8.676275  37.105817 -8.669628
4      37.100102 -8.373929  37.109262 -8.352574
...          ...       ...        ...       ...
53771  41.176503 -8.712066  41.195187 -8.683211
53772  41.509872 -8.793162  41.542466 -8.742993
53773  41.674274 -8.846448  41.697963 -8.768713
53774  41.859026 -8.871157  41.939640 -8.749444
53775  36.730845 -9.792798  41.879798 -7.206483

[53776 rows x 4 columns]

In [23]:
intersected = gp.sjoin(imageBounds, shapefile, how='inner', op='intersects', lsuffix='left', rsuffix='right')
intersected

,geometry,index_right,AREA_ha,CLC2012,Legenda,ID
0,"POLYGON ((39.07320 -8.88718, 39.05269 -8.89432...",44780,8592.345195,323,Vegetação esclerófila,44781
0,"POLYGON ((39.07320 -8.88718, 39.05269 -8.89432...",38977,885.953160,313,Florestas mistas,38978
0,"POLYGON ((39.07320 -8.88718, 39.05269 -8.89432...",14581,25.850329,231,Pastagens permanentes,14582
0,"POLYGON ((39.07320 -8.88718, 39.05269 -8.89432...",18475,123.728499,242,Sistemas culturais e parcelares complexos,18476
0,"POLYGON ((39.07320 -8.88718, 39.05269 -8.89432...",6302,33.382401,211,Culturas temporárias de sequeiro,6303
...,...,...,...,...,...,...
0,"POLYGON ((39.07320 -8.88718, 39.05269 -8.89432...",35699,376.061174,312,Florestas de resinosas,35700
0,"POLYGON ((39.07320 -8.88718, 39.05269 -8.89432...",22679,138.537581,243,Agricultura com espaços naturais e semi-naturais,22680
0,"POLYGON ((39.07320 -8.88718, 39.05269 -8.89432...",42124,75.307930,322,Matos,42125
0,"POLYGON ((39.07320 -8.88718, 39.05269 -8.89432...",736,69.149133,112,Tecido urbano descontínuo,737
0,"POLYGON ((39.07320 -8.88718, 39.05269 -8.89432...",42121,34.458428,322,Matos,42122

In [24]:
intersected.crs

{'init': 'epsg:4326'}

In [25]:
intersected.bounds

         minx       miny       maxx      maxy
0   38.755194 -10.167633  39.750212 -8.886078
0   38.755194 -10.167633  39.750212 -8.886078
0   38.755194 -10.167633  39.750212 -8.886078
0   38.755194 -10.167633  39.750212 -8.886078
0   38.755194 -10.167633  39.750212 -8.886078
..        ...        ...        ...       ...
0   38.755194 -10.167633  39.750212 -8.886078
0   38.755194 -10.167633  39.750212 -8.886078
0   38.755194 -10.167633  39.750212 -8.886078
0   38.755194 -10.167633  39.750212 -8.886078
0   38.755194 -10.167633  39.750212 -8.886078

[2611 rows x 4 columns]

In [26]:
#intersected = intersected.to_crs(fiona.crs.from_epsg(32629))
intersected.crs = initial_crs
intersected.crs

{'proj': 'tmerc',
 'lat_0': 39.6682583333333,
 'lon_0': -8.13310833333333,
 'k': 1,
 'x_0': 0,
 'y_0': 0,
 'ellps': 'GRS80',
 'units': 'm',
 'no_defs': True}

In [27]:
intersected.bounds

         minx       miny       maxx      maxy
0   38.755194 -10.167633  39.750212 -8.886078
0   38.755194 -10.167633  39.750212 -8.886078
0   38.755194 -10.167633  39.750212 -8.886078
0   38.755194 -10.167633  39.750212 -8.886078
0   38.755194 -10.167633  39.750212 -8.886078
..        ...        ...        ...       ...
0   38.755194 -10.167633  39.750212 -8.886078
0   38.755194 -10.167633  39.750212 -8.886078
0   38.755194 -10.167633  39.750212 -8.886078
0   38.755194 -10.167633  39.750212 -8.886078
0   38.755194 -10.167633  39.750212 -8.886078

[2611 rows x 4 columns]

In [28]:
import os
# create a products directory within the data dir which won't be uploaded to Github
img_dir = './data/shapefiles/shp_2012_IMG_DATA_1/'

# check to see if the dir it exists, if not, create it
if not os.path.exists(img_dir):
    os.makedirs(img_dir)

In [29]:
intersected.to_file(img_dir + 'shp_2012_IMG_DATA_1.shp')